.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略node_modules目录下的所有文件及子目录
node_modules/

# 忽略构建后的打包文件
/dist/

# 忽略IDE或文本编辑器生成的文件
.vscode/
.idea/

# 忽略npm包管理器的缓存
package-lock.json
npm-debug.log

# 忽略一些开发时生成的临时文件或目录
/.sass-cache/
/.tmp/
/.DS_Store
